#app {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: 16px;
  min-width: 740px;
  max-width: 1100px;
  margin: auto;
}

/*#app content {*/
/*  margin-top: 8px;*/
/*}*/