.app-content {
    height: 100%;
    overflow: auto;
    margin-top: 8px;
}
.app-content::-webkit-scrollbar {
    width: 4px;
}

.app-content::-webkit-scrollbar-thumb {
    background-color: #b7b7f9;
    border-radius: 20px;
}