.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.p8 {
    padding: 8px;
}

.pt8 {
    padding-top: 8px;
}

.ptr8 {
    padding-right: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.pl8 {
    padding-left: 8px;
}

.p16 {
    padding: 16px;
}

.pt16 {
    padding-top: 16px;
}

.ptr16 {
    padding-right: 16px;
}

.pb16 {
    padding-bottom: 16px;
}

.pl16 {
    padding-left: 16px;
}

.shadow {
    box-shadow: -2px 2px 2px 0 #282828;
}

.pill {
    background: #0342bb;
    padding: 4px 16px;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.mt8 {
    margin-top: 8px;
}
.mr8 {
    margin-right: 8px;
}
.mb8 {
    margin-bottom: 8px;
}
.ml8 {
    margin-left: 8px;
}