.app-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.app-header #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.app-header #title {
    font-size: 28px;
    font-weight: bold;
    flex-grow: 1;
}

.app-header #search input {
    background: transparent;
    outline: none;
    border: 0;
    color: inherit;
    padding: 8px 0;
}

.app-header #search > span {
    height: 36px;
    border-radius: 4px;
    background: #545454;
    display: flex;
    padding: 0 8px;
    align-items: center;
    cursor: pointer;
}

.app-header #menu .material-icons,
.app-header #search .material-icons {
    cursor: pointer;
}

.app-header #search > div {
    position: relative;
}
